<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://Java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>web ban ve 1</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminListTicket</display-name>
    <servlet-name>AdminListTicket</servlet-name>
    <servlet-class>controller.AdminListTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListTicket</servlet-name>
    <url-pattern>/AdminListTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTicket</display-name>
    <servlet-name>DeleteTicket</servlet-name>
    <servlet-class>controller.DeleteTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTicket</servlet-name>
    <url-pattern>/deleteTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUser</display-name>
    <servlet-name>ListUser</servlet-name>
    <servlet-class>controller.ListUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUser</servlet-name>
    <url-pattern>/quan-ly-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUSer</display-name>
    <servlet-name>DeleteUSer</servlet-name>
    <servlet-class>controller.DeleteUSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUSer</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTicket</display-name>
    <servlet-name>AddTicket</servlet-name>
    <servlet-class>controller.AddTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTicket</servlet-name>
    <url-pattern>/AddTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTicket</display-name>
    <servlet-name>EditTicket</servlet-name>
    <servlet-class>controller.EditTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTicket</servlet-name>
    <url-pattern>/EditTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdmin</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>controller.AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>controller.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTicket</display-name>
    <servlet-name>SearchTicket</servlet-name>
    <servlet-class>controller.SearchTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTicket</servlet-name>
    <url-pattern>/SearchTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>controller.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuantityItem</display-name>
    <servlet-name>UpdateQuantityItem</servlet-name>
    <servlet-class>controller.UpdateQuantityItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuantityItem</servlet-name>
    <url-pattern>/UpdateQuantityItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOut</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>controller.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteItem</display-name>
    <servlet-name>DeleteItem</servlet-name>
    <servlet-class>controller.DeleteItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItem</servlet-name>
    <url-pattern>/DeleteItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>controller.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
</web-app>